@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #FFB1A4;

}

h1,h2,h3,h4,h5,h6 {
    font-family: "Bungee", sans-serif;
    color: #fff;
}

a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 18px;
}

p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

/* Navigation styling */

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand {
    font-family: 'Bungee Shade', cursive, sans-serif;
    font-size: 2rem;
    padding-left: 1rem;
}

.nav-item a { 
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "Bungee", sans-serif;
    color: #fff;
}

.nav-item:hover {
    background-color: #AFDBF5;
    transition: all 300ms ease-in-out;
}

.active {
     background-color: #AFDBF5;
}

.nav-icon i {
    font-size: 30px;
    color: #fff;
}

.nav-icon i:focus {
    outline: none;
    border: #AFDBF5;
}

.navbar-nav {
    margin-left: auto;
}

/* Page headings  */

.page-heading {
    font-family: 'Bungee Shade', cursive, sans-serif;
    color: #fff;
    font-size: 6rem;
    text-align: center;
}

.small-heading {
    font-family: 'Bungee Shade', cursive, sans-serif;
    color: #fff;
    font-size: 4rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    text-align: center;
}

.page-sub-heading {
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Header Containers */

.hero-image {
    position: relative;
    height: 900px;
    width: 100%;
    background: linear-gradient(rgba(255, 178, 164, 0),rgba(255, 178, 164, 0) 80%,rgba(175, 219, 245, 1)), url(/static/images/hero-image-vegan.jpg)no-repeat center;
}

.home-background-image {
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(175, 219, 245, 1),rgba(255, 178, 164, 0) 20%,rgba(255, 178, 164, 1)), url(/static/images/hero-image-vegan.jpg)no-repeat center;
}

.header-container { 
    position: absolute;
    top: 200px;
    right: 0;
}

.recipe-header-container {
    position: absolute;
    top: 150px;
    right: 0;
}

.recipe-background {
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(255, 178, 164, 0) 10%,rgba(255, 178, 164, 1)), url(/static/images/hero-image-vegan.jpg)no-repeat center;
}

.login-register-background {
    position: relative;
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(255, 178, 164, 0) 10%,rgba(255, 178, 164, 1)), url(/static/images/hero-image-vegan.jpg)no-repeat center;
}


/* Promo section styling */

.promo-image {
    position: relative;
    background: url(/static/images/test.jpg) no-repeat top center;
    height: 375px;
}

.promotional-section {
    padding-top: 100px;
    background-color: #AFDBF5;
}

.info-section {
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.about-icon {
    color: #fff;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.vegan-recipes {
    background-color: #fff;
    height: 200px;
    border-radius: 30px;
}

.vegan-recipes h3 {
    color: #AFDBF5;
    padding-top: 1rem;
}


/* Button styling */

.btn-white {
    background-color: #fff;
    color: #FFB1A4;
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    border: 0;
}

.btn-subscription {
    background-color: #fff;
    color: #FFB1A4;
    margin: 0;
    padding: 1rem;
    border-radius: .20rem;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    border: 0;
}

.btn-white:hover, .btn-subscription:hover {
    color: #fff;
    background-color: #a1d5b3;
    transition: all 300ms ease-in-out;
}

.btn-search {
    color: #fff;
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: 0;
}

.login-register-btn {
    background-color: #FFB1A4;
    color: #fff;
    border: 0;
    border-radius: 30px;
    padding: .5rem 1rem;
    margin-top: .5rem;
}

.login-register-btn:hover {
    background:#a1d5b3;
    transition: all 300ms ease-in-out;
}

/* Subscription form */ 

.subscription-field {
    width: 50%;
    border: 0;
    border-radius: .25rem;
    padding: .6rem;
    margin-left: 3rem;
    font-family: "Roboto", sans-serif;
    color: #FFB1A4;
}

.subscription-field:focus {
    outline: none;
	border-color: #AFDBF5;
	box-shadow: 0 0 10px #AFDBF5;
}

/* Recipes */ 

.meal-nav {
    font-family: "Bungee", sans-serif;
    font-size: 20px;
}

.meal-nav:hover {
    color: #AFDBF5;
    transition: all 300ms ease-in-out;
}

.recipe-card {
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 400px;
    width: 90%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.recipe-card h3 {
    text-align: left;
    padding-left: 2.5rem;
    color: #FFB1A4;
    padding-top: 2rem;
}

.meal-name {
    display: block;
    padding-bottom: .5rem;
    color: grey;
    font-size: small;
}

.recipe-card p {
    color: #a1d5b3;
    padding: 0rem 2rem 0rem 2.5rem;
    text-align: left;
}

.recipe-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.recipe-link a {
    display: block;
    padding-top: .5rem;
    padding-bottom: 1rem;
    color: #FFB1A4;
    font-weight: 500;
}

.recipe-link a:hover {
    color: #a1d5b3;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

/* Single Recipe Page */

.recipe-page-image {
    width: 100%;
    height: 500px;
}

.recipe-list {
    list-style-type: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    font-size: 18px;
}

.recipe-list i {
    padding: .5rem;
}

/* Login & Register  */

.login-register-container {
    background: #fff;
    max-width: 50%;
    height: 350px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding-top: 2rem;
}

.login-register-container p {
    color: #FFB1A4;
    padding-top: 1rem;
}

.login-flash-message {
    color: red;
    padding:0;
}

.login-register-logo {
    color: #AFDBF5;
    font-size: 1.2rem;
}

/* Form styling */

.form-container {
    padding-top: 1rem;
}

.form-container a {
    color: #AFDBF5;
}

.form-container a:hover {
    color: #a1d5b3;
}

.form-field { 
    margin: .5rem;
    padding: .5rem 1rem;
    border: 1px solid #AFDBF5;
    width: 50%;
}

.search-form-field { 
    margin: .5rem;
    padding: .5rem 1rem;
    border: 1px solid #AFDBF5;
}

.form-field:focus, .search-form-field:focus {
    outline: none;
	border-color: #AFDBF5;
	box-shadow: 0 0 10px #AFDBF5;
}

label {
    display: block;
    color: #fff;
    font-family: 'Roboto', 'sans-sherif';
    font-size: 18px;
}

/* Footer */ 

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.social-network ul {
  list-style-type: none;
}

.social-network li {
  display: inline;
}

.social-network i {
  font-size: 1.5rem;
  padding: 0 5px 0 5px;
}

@media screen and (max-width: 767px) {

    .page-heading {
        font-size: 4rem;
    }

    .small-heading {
        font-size: 3rem;
    }

    .login-register-container {
        max-width: 90%;
        margin-top: 2rem;
    }

    .form-field {
        width: 90%;
    }
}

/* Animation taken from https://gist.github.com/nisanth074/46671279996bc9e5a863 */

.animation-up {
    animation: 1s ease-out 0s 1 fadeInUp;
}

.animation-down {
    animation: 1s ease-out 0s 1 fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
