{% extends "base.html" %}
{% block content %}

<!----Add Recipe Form Header---->

<section class="subpage-background">
    <div class="container-fluid">
        <div class="row">
            <h1 class="recipes-heading">New Recipe</h1>
        </div>
    </div>
</section>

<!----Add Recipe Form---->

<section>
    <div class="container">
        <div class="row">
            <div class="add-edit-form-container">

                <form method="POST" class="text-center" action="{{  url_for('add_recipe')}}">
                    <div>
                        <label for="recipe_name">Recipe Name</label>
                        <input type="text" name="recipe_name" class="form-field" placeholder="Recipe Name"
                            id="recipe_name" required>
                    </div>
                    <div class="col-12">
                        <label for="meal_name">Meal Type</label>
                        <select type="text" name="meal_name" class="form-field" id="meal_name" required>
                            <option selected disabled>Select Meal Type</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Desserts">Dessert</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="description">Description</label>
                        <input type="text" name="description" placeholder="Description" id="description"
                            class="form-field" maxlength="100" required>
                        <small class="form-description">Short description about your the dish. Max 100
                            characters.</small>
                    </div>
                    <div class="col-12">
                        <label for="ingredients">Ingredients</label>
                        <textarea type="text" name="ingredients" placeholder="Recipe Ingredients" class="form-field"
                            id="ingredients" rows="5" required></textarea>
                        <small class="form-description">Each ingredient on a seperate line.</small>
                    </div>

                    <div class="col-12">
                        <label for="method">Method</label>
                        <textarea type="text" name="method" placeholder="Method" class="form-field" id="method" required
                            rows="5"></textarea>
                        <small class="form-description">Each step on a seperate line.</small>
                    </div>
                    <div class="col-12">
                        <label for="yield">Yield</label>
                        <input type="number" name="yield" placeholder="Example: 5" class="form-field" id="yield" min="1" max="12"
                            required>
                        <small class="form-description">How many people will this serve (rougly).</small>
                    </div>
                    <div class="col-12">
                        <label for="active_time">Active Time</label>
                        <input type="text" name="active_time" placeholder="Example: 20 Minutes" class="form-field"
                            id="active_time" required>
                        <small class="form-description">How long does it take to cook this meal.</small>
                    </div>
                    <div class="col-12">
                        <label for="total_time">Total Time</label>
                        <input type="text" name="total_time" placeholder="Example: 1 Hour" class="form-field"
                            id="total_time" required>
                        <small class="form-description">How long does it take to prepare and cook this meal.</small>
                    </div>
                    <div class="col-12">
                        <label for="recos">Recommendations</label>
                        <input type="text" name="recos" placeholder="Recommendation" class="form-field"
                            id="recos">
                        <small class="form-description">Each recommendation on a seperate line.</small>
                    </div>
                    <div class="col-12">
                        <label for="img_url">Image URL</label>
                        <input type="url" name="img_url" pattern="https://.*" placeholder="Image URL" class="form-field" id="img_url">
                        <small class="form-description">Image URL address.</small>
                    </div>
                    <div class="col-12 pt-3">
                        <button type="submit" class="btn btn-black">Add Recipe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}