{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="hero-image">
    <div class="row">
        <div class="col-12 header-container">
            <h1 class="logo-header text-center">Online Vegan <br> Cookbook</h1>
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center">
                    <button class="btn-white">Login</button>
                    <button class="btn-white">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container simple-linear">
    <div class="row">

    </div>
</div>

<!-- Promotional content -->
<section class="promotional-section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-md-4 text-center">
                <h3>Promo</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque dolore dolor nulla quo quidem
                    dolorem doloribus quae sequi, repellendus corrupti maiores. Voluptates, quis! Exercitationem
                    obcaecati ea quo praesentium. Dolorem, quidem.
                </p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h3>Promo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora quas nostrum beatae non maxime
                    voluptatem impedit corrupti, explicabo dignissimos, repudiandae consequuntur veniam deserunt quam
                    repellendus soluta molestiae eligendi animi reiciendis.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h3>Promo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, pariatur. Doloribus commodi
                    tempore, esse cupiditate facilis, totam neque quasi sequi, quis tenetur saepe. Quia perspiciatis
                    debitis ipsam quaerat blanditiis. Ex.</p>
            </div>
        </div>
</section>

<section class="about-us-section">

</section>

{% endblock %}