{% extends "base.html" %}
{% block content %}

<!--- Hero Image -->

<div class="container-fluid hero-image">
    <div class="row">
        <div class="col-12">
            <h1 class="page-heading animation-down">Eating <br> Vegan</h1>
            <h2 class="page-sub-heading animation-up">Who Said Vegan had to be boring?</h2>
            <div class="row">
                <div class="text-center animation-up">
                    {% if session.user %}
                    <a href="{{  url_for('add_recipe')  }}" class="btn btn-black">Add Recipe</a>
                    <a href="{{  url_for('recipes')  }}" class="btn btn-black">View Recipes</a>
                    {% else %}
                    <a href="{{  url_for('login')  }}" class="btn btn-black">Login</a>
                    <a href="{{  url_for('recipes')  }}" class="btn btn-black">View Recipes</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Promotional content -->

<section class="promotional-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-4">
                <i class="fas fa-leaf about-icon"></i>
                <h3>Online Vegan Cookbook</h3>
                <p class="p-1">
                    Eating Vegan is an online cookbook for fresh and exciting plant-based foods!
                </p>
            </div>
            <div class="col-12 col-md-4">
                <i class="fas fa-file-medical about-icon"></i>
                <h3>Share & Upload</h3>
                <p class="p-1">Use your profile to upload and edit any recipes you want to share.</p>
            </div>
            <div class="col-12 col-md-4">
                <i class="fas fa-user about-icon"></i>
                <h3>Join The Community</h3>
                <p class="p-1">Sign up and join our community and explore exciting
                    new recipes. </p>
                <a href="{{  url_for('register')  }}" class="btn btn-white">Register</a>
            </div>
        </div>
    </div>
</section>

<!--- Information section --->

<section class="info-section">
    <div class="container text-center">
        <div class="row homepage-promo-container">
            <div class="col-md-6 col-12 text-center p-0">
                <img class="promotional-image" src="static/images/eating-vegan-promotional-photo-1.jpg" alt="">
            </div>
            <div class="col-md-6 col-12 promotional-text">
                <h3>100% Vegan Recipes</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse animi, earum officia aspernatur odit
                    quod maxime eligendi laudantium molestias commodi amet quasi. Natus placeat maxime dolores expedita!
                    Soluta, numquam odit.orem, ipsum dolor sit amet consectetur adipisicing elit. Esse animi, earum
                    officia aspernatur odit quod maxime eligendi laudantium molestias commodi amet quasi. Natus placeat
                    maxime dolores expedita! Soluta, numquam odit.</p>
            </div>
        </div>
        <div class="row homepage-promo-container">
            <div class="col-md-6 col-12 order-1 promotional-text">
                <h3>100% Vegan Recipes</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse animi, earum officia aspernatur odit
                    quod maxime eligendi laudantium molestias commodi amet quasi. Natus placeat maxime dolores expedita!
                    Soluta, numquam odit.orem, ipsum dolor sit amet consectetur adipisicing elit. Esse animi, earum
                    officia aspernatur odit quod maxime eligendi laudantium molestias commodi amet quasi. Natus placeat
                    maxime dolores expedita! Soluta, numquam odit.</p>
            </div>
            <div class="col-md-6 col-12 text-center p-0">
                <img class="promotional-image order-2" src="static/images/eating-vegan-promotional-photo-2.jpg" alt="">
            </div>
        </div>
    </div>
</section>




{% endblock %}