{% extends "base.html" %}
{% block title %}Profile |{% endblock %}
{% block content %}

<!--- Profile Information --->

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h2 class="text-center pt-5">{{ message }}</h2>
{% endfor %}
{% endif %}
{% endwith %}

<section class="profile-information">
    <div class="container">
        <div class="row">

            <!--- Flash messages --->


            <div class="col-12 col-md-4 text-center">
                <img src="{{ user.profile_image }}" class="profile-photo" alt="">
                <p class="pt-3"><strong>Username:</strong> {{ session['user'] }} <br>
                    <strong>Date Joined:</strong> {{ user.date_joined }} <br>
                    {% if session.user != 'admin' %}
                    <button class="btn btn-black account-btn">Delete Account</button>
                    <br>
                    <a class="btn btn-black" href="{{  url_for('update_user', username=username) }}">Update Your
                        Password</a>
                    <br>
                    <a class="btn btn-black profile-pic-btn mb-4">Update Profile
                        Photo</a>
                    {% else %}
                    {% endif %}
                </p>
            </div>

            <!-- Modal to confirm deletion of account -->
            <div class="modal" id="delete-account-modal">
                <div class="delete-modal-content">
                    <span class="close">&times;</span>
                    <h3 class="delete-modal-title">Delete Account</h3>
                    <p> Are you sure you want to delete your account {{username }}? All of your recipes will be lost.
                    </p>
                    <div class="modal-buttons">
                        <a class="btn btn-black m-1" href="{{  url_for('delete_user', username=username) }}">
                            Delete
                            Account </a>
                        <a class="btn btn-black cancel">
                            Cancel </a>
                    </div>
                </div>
            </div>

            <!-- Modal to update profile image -->
            <div class="modal" id="update-picture-modal">
                <div class="delete-modal-content">
                    <span class="close">&times;</span>
                    <h3 class="delete-modal-title">Update Profile Photo</h3>
                    <form method="POST" action="{{ url_for('update_profile_pic', username=username)}}">
                        <div class="col-12">
                            <i class="login-register-logo fas fa-images"></i>
                            <input id="profile_img" name="profile_img" type="url" pattern="https://.*" class="login-form-field"
                                placeholder="Profile Picture URL">
                        </div>
                        <div class="col-12 modal-buttons">
                            <button class="btn-black">Update</button>
                            <a class="btn btn-black cancel">
                                Cancel </a>
                        </div>
                    </form>
                </div>
            </div>


            <!--- Users Recipes --->

            {% if recipes|length > 0 %}
            <div class="col-12 col-md-8">
                {% if session.user == 'admin' %}
                <h2 class="pb-3">All Recipes:</h2>
                {% else %}
                <h2 class="pb-3">Your Recipes:</h2>
                {% endif %}
                {% for recipe in recipes %}
                <div class="profile-recipe-card row">
                    <div class="col-12 col-lg-6 col-md-12 profile-recipe-info">
                        <h3 class="recipe-name">{{ recipe.recipe_name }}</h3>
                        <p class="recipe-description pb-1">
                            <strong>Recipe created:</strong> {{ recipe.date_created }} <br>
                            <strong>Description:</strong> {{ recipe.description }} <br>
                            <i class="fas fa-user-friends"></i> - {{ recipe.yield }} <br>
                            <i class="far fa-clock"></i> - {{ recipe.active_time }} <br>
                            <i class="fas fa-utensils"></i> - {{ recipe.total_time }} <br>
                        </p>
                        <a class="btn btn-white" href="{{  (url_for('recipe_page', recipe_id=recipe._id))  }}"> View Recipe </a>
                        <a class="btn btn-white m-2" href="{{  (url_for('edit_recipe', recipe_id=recipe._id))  }}"> Edit
                            Recipe </a>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 text-center">
                        <img class="profile-recipe-image" src="{{ recipe.img_url }}" alt="{{ recipe.recipe_name }}">
                    </div>

                </div>
                {% endfor %}
            </div>

            <!---- Content if user has no recipes ---->

            {% else %}
            <div class="col-12 col-md-8">
                <h2>Your Recipes:</h2>
                <h4 class="pt-3">Oops! Nothing Here Yet.</h4>
                <a class="btn btn-black text-center mb-3" href="{{  url_for('add_recipe')  }}">Upload Recipe</a>
            </div>
            {% endif %}


        </div>
    </div>
</section>

{% endblock %}