{% extends "base.html" %}
{% block content %}

<!---Recipe Header--->

<section class="recipe-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 recipe-header-container">
                <h1 class="page-header text-center">{{ recipe.recipe_name }}</h1>
                <h3 class="text-center page-sub-heading">{{ recipe.description }}</h3>
            </div>
        </div>
    </div>
</section>

<!---Recipe Image--->

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Created by: {{ recipe.created_by }}</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Meal Type: {{ recipe.meal_name }}</p>
            </div>
            <div class="col-12 col-md-6">
                <img class="recipe-page-image"
                    src="{{ recipe.img_url }}"
                    alt="">
            </div>
             <div class="col-12 col-md-6">
                <h3>Ingredients</h3>
                <ul class="recipe-list">
                    {% for ingredient in recipe.ingredients %}
                    <li><i class="fas fa-leaf"></i> {{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
              <div class="col-12 col-md-6">
                <h3>Method</h3>
                <ul class="recipe-list">
                    {% for method in recipe.method %}
                    <li><i class="fas fa-leaf"></i> {{ method }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <h4>recommendation</h4>
                <p>{{ recipe.recommendation }}</p>
            </div>
        </div>
    </div>

    <!---Recipe Info--->
</section>

{% endblock %}