{% extends "base.html" %}
{% block title %}Recipes |{% endblock %}
{% block content %}

<!---Recipes header container with search--->

<section class="recipes-background">
    <div class="container-fluid">
        <div class="row">
            <h1 class="recipes-heading">Recipes</h1>
            <h2 class="page-sub-heading">Fresh and exciting plant-based foods!</h2>
            <form method="POST" action="{{  url_for('search')  }}" class=" search text-center">
                <a class="btn-reset" href="{{  url_for('recipes')  }}">Reset</a>
                <label for="search-query" id="search-label" name="search-query"> Search </label>
                <input type="text" id="search-query" name="search-query" class="search-form-field"
                    placeholder="Search Recipes" required>
                <button class="btn-search" aria-label="Search Recipe"><i class="fas fa-search"></i>
                </button>

            </form>
        </div>
    </div>
</section>

<!---Flash Messages--->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h3 class="text-center pt-3">{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}


<!---All recipes--->

<section class="recipes-container">
    <div class="container">
        <div class="row">

            <div class="filter-container">
                <a class="filter" id="recipeDropDown">
                    Filter <i class="fas fa-arrow-down"></i>
                </a>
                <div id="recipes_meal_dropdown">
                    <a class="dropdown-link" href="{{  url_for('recipes') }}">All</a>
                    <a class="dropdown-link" href="{{  url_for('meals', meal='breakfast')  }}">Breakfast</a>
                    <a class="dropdown-link" href="{{  url_for('meals', meal='lunch')  }}">Lunch</a>
                    <a class="dropdown-link" href="{{  url_for('meals', meal='dinner')  }}">Dinner</a>
                    <a class="dropdown-link" href="{{  url_for('meals', meal='desserts')  }}">Desserts</a>
                </div>
            </div>

            {% for recipe in recipes %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="recipe-card">
                    <img class="recipe-image" src="{{ recipe.img_url }}" alt="{{ recipe.recipe_name}}">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <div class="recipe-description">
                        <p>
                            <span class="meal-name">{{ recipe.meal_name }} - Uploaded by {{ recipe.created_by }}</span>
                            {{ recipe.description }}
                            <span ><a  class="recipe-link" href="{{  (url_for('recipe_page', recipe_id=recipe._id))  }}">
                                    View Recipe <i class="fas fa-arrow-right"></i></a></span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}