{% extends "base.html" %}
{% block content %}

<section class="recipe-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 recipe-header-container">
                <h1 class="page-header text-center">Recipes</h1>
                <h3 class="text-center page-sub-heading">Fresh and exciting plant-based foods!</h3>
                <form method="POST" action="{{  url_for('search')  }}"  class="animation search text-center">
                    <input type="text" id="search-query" name="search-query" class="search-form-field" placeholder="Search Recipes" required>
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

<!---Flash Messages--->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h3 class="text-center p-2 animation">{{ message }}</h3>
{% endfor %}
{% endif %}
{% endwith %}

<!----Sub heading for meal types---->

<section class="pb-5 animation">
    <div class="container">
        <div class="row">
            <div class="col-3 text-center">
                <a class="meal-type" href=""> Breakfast</a>
            </div>
            <div class="col-3 text-center">
                <a class="meal-type" href=""> Lunch</a>
            </div>
            <div class="col-3 text-center">
                <a class="meal-type" href=""> Dinner</a>
            </div>
            <div class="col-3 text-center">
                <a class="meal-type" href=""> Desserts</a>
            </div>
        </div>
    </div>
</section>
<!----Recipes--->

<section>
    <div class="container">
        <div class="row animation">

            {% for recipe in recipes %}
            <div class="col-12 col-md-4">
                <div class="recipe-card">
                    <img class="recipe-image" src="{{ recipe.img_url }}" alt="{{ recipe.recipe_name}}">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <div class="recipe-description">
                        <p>
                            <span class="meal-name">{{ recipe.meal_name }} - uploaded by {{ recipe.created_by }}</span>
                            {{ recipe.description }}

                            <span class="recipe-link"><a href="{{  (url_for('recipe_page', recipe_id=recipe._id))  }}">
                                    View Recipe <i class="fas fa-arrow-right"></i></a></span>
                        </p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}