{% extends "base.html" %}
{% block title %}Saved Recipes |{% endblock %}
{% block content %}

<!---Recipes header container with search--->

<section class="subpage-background">
    <div class="container-fluid">
        <div class="row">
            <h1 class="recipes-heading">Saved Recipes</h1>
        </div>
    </div>
</section>


<!---Flash Messages--->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h3 class="text-center pt-3 flash-message">{{ message }}</h3>
{% endfor %}
{% endif %}
{% endwith %}


<!---All recipes--->

<section class="recipes-container">
    <div class="container">
        <div class="row">
            {% if saved |length > 0 %}
            {% for recipe in saved_rec %}
             <div class="col-12 col-md-6 col-lg-4">
                <div class="recipe-card">
                   {% if recipe.img_url %}
                    <a href="{{  (url_for('recipe_page', recipe_id=recipe._id))  }}"><img class="recipe-image"
                            src="{{ recipe.img_url }}" alt="{{ recipe.recipe_name}}"></a>
                    {% else %}
                    <img class="recipe-image"
                        src="{{url_for('static', filename = 'images/default-recipe-image.jpg')}}"
                        alt="{{ recipe.recipe_name }}">
                    {% endif %}
                    <h3>{{ recipe.recipe_name }}</h3>
                    <div class="recipe-description-card">
                        <p>
                            <span class="meal-name">{{ recipe.meal_name }} - Uploaded by {{ recipe.created_by }}</span>
                            {{ recipe.description }}
                        </p>
                        <span ><a  class="recipe-link pb-1" href="{{  (url_for('recipe_page', recipe_id=recipe._id))  }}">
                                    View Recipe <i class="fas fa-arrow-right"></i></a></span>
                        {% if session.user %}
                        <form method="POST" action="{{  (url_for('remove_saved_recipe', recipe_id=recipe._id))  }}">
                            <button class="save-recipe"><i class="fas fa-heart-broken"></i> Remove From Saved</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 text-center">
                <h2 class="text-center pt-5">No Saved recipes yet! Get saving</h2>
                <a class="btn btn-black mb-3" href="{{  url_for('recipes')  }}">View all Recipes</a>
                {%endif%}
            </div>
        </div>
    </div>
</section>

{% endblock %}